@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}
*{
   cursor:none !important ;

}


body {

  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::view-transition-old(root) {
  animation: none;
  z-index: 1;
}

::view-transition-new(root) {
  animation: 1s ease-in-out both reveal-from-top-right;
  z-index: 2;
}

@keyframes reveal-from-top-right {
  from {
    clip-path: circle(0% at 50% -10%);
    filter: blur(20px);
   
  }

  to {
    filter: blur(0px);
    clip-path: circle(150% at 50% 50%);
  }
}